<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tom</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tom.css'%}">
</head>
<body>
    <h1>this is tom</h1>
    <h4>Paste your text and our bot will read the script</h4>

    <section>
        <div class="speech">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="speech" class="script-input" placeholder="Paste Your Script Here" required>
                <br>
                <button type="submit">Activate Bot</button>
                <br>
                <input type="text" value="{{info}}" placeholder="Action" class="action-input">
            </form>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="{% static 'tom.js' %}"></script>
</body>
</html>
